[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
install_search_all_sources = true

[packages]
# Builder/Parsers
sphinx = ">=4.0,!=5.0.0"
myst-parser = "*"
sphinx-autobuild = "*"
# Extension
sphinx-revealjs = "*"
'sphinx-revealjs[screenshot]' = "*"

#useful packages
  # for rst to pdf svg converter
  # dependency of screenshot
playwright = "*"
svglib = "*"

# Diagramming tool extensions
"sphinxcontrib.drawio" = "*"
"sphinxcontrib.plantuml" = "*"
# sphinxcontrib-kroki = "*"

# Themes
cloud-sptheme = "*"
sphinx-book-theme = "*"
piccolo-theme = "*"

[dev-packages]
